<!-- <button mat-raised-button mat-dialog-close="cance">Cancel</button>
<button mat-raised-button mat-dialog-close="close">Close</button>
<button mat-raised-button mat-dialog-close="apply">Apply</button>   -->

<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content>
  Enter Service Connection Parameters
  <div class="row">
    <mat-form-field>
      <input 
        ngModel
        [(ngModel)]="name"
        #serviceName="ngModel"
        name="serviceName"      
        type="text" 
        matInput 
        placeholder="serivce name" 
        required>
      <mat-hint>Type valid service name</mat-hint>
      <mat-error *ngIf="serviceName.invalid && serviceName.errors.required">
        The service name is required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field>
      <input 
        ngModel
        [(ngModel)]="host"
        #hostName="ngModel"
        name="hostName"      
        type="text" 
        matInput 
        placeholder="host address" 
        required>
      <mat-hint>Type valid service host name</mat-hint>
      <mat-error *ngIf="hostName.invalid && hostName.errors.required">
        The host name is required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field>
      <input 
        ngModel
        [(ngModel)]="port"
        #portNumber="ngModel"
        name="portNumber"
        type="text"
        max="65536"
        matInput        
        placeholder="port number"
        pattern="^[0-9]*$"
        required>
      <mat-hint>Type valid service port number</mat-hint>
      <mat-error *ngIf="portNumber.invalid && portNumber.errors.required">The port number is required</mat-error>
      <mat-error *ngIf="portNumber.invalid && portNumber.errors.pattern">Enter only number (port number)</mat-error>
      <mat-error *ngIf="portNumber.invalid && portNumber.errors?.max">Enter only number (port number)</mat-error>

    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button mdbBtn class="mat-raised-button" (click)="cancel()">Cancel</button>
    <button mdbBtn class="mat-raised-button mat-primary" mdbWavesEffect (click)="save()">Save</button>
    <!-- <button class="mat-raised-button mat-primary" cdkFocusInitial (click)="save()">Save</button> -->    
</mat-dialog-actions>

        <!-- pattern="^[0-9]*$" -->


<!-- <button mat-raised-button mat-dialog-close="cance">Cancel</button>
<button mat-raised-button mat-dialog-close="close">Close</button>
<button mat-raised-button mat-dialog-close="apply">Apply</button>   -->
