
.col {
  background-color: cadetblue;
  border: solid 1px;
}
.col-12 {
  background-color: cadetblue;
  border: solid 1px;
}
body {
  font-family: "Lato", sans-serif;
}
  
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
